@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');
:root{
    --Playfair: 'Playfair Display', serif;
    --quicksand:  'Quicksand', sans-serif;
    --roboto:  'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}